  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/search" class="nav-link px-2 text-white">Search</a></li>
        </ul>
        <div class="text-end">
          {{#if this.id}}
              <button type="button" class="btn btn-outline-light me-2">Logout</button>
          {{else}}
              <button type="button" class="btn btn-outline-light me-2">Login</button>
              <button type="button" class="btn btn-warning">Sign-up</button>
          {{/if}}
        </div>
      </div>
    </div>
  </header>