  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/home" class="nav-link link-dark px-3 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-3">Features</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="/login" class="nav-link link-dark px-3">Login</a></li>
      </ul>
    </div>
  </nav>