<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{invoice.type}}</h5>
    <p class="card-text">Chi phí: {{invoice.price}}.</p>
    <p class="card-text">Thời gian: {{invoice.time}}.</p>
    <p class="card-text">Mô tả: {{invoice.description}}.</p>
  </div>
</div>