<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Checkout example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/checkout/">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Đăng ký</h2>
    </div>

    <div class="row g-5">
      </div>
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate action = "/post-register" method = "post">
          <div class="row g-3">
            <div class="col-12">
              <label for="username" class="form-label">Tài khoản</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" placeholder="Tài khoản" name = "username" required>
              <div class="invalid-feedback">
                  Hãy nhập tài khoản của bạn hợp lệ
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="password" class="form-label">Mật khẩu</label>
              <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name = "password" required>
              <div class="invalid-feedback">
                Hãy nhập mật khẩu hợp lệ
              </div>
            </div>

            <div class="col-sm-6">
              <label for="firstName" class="form-label">Họ</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" name = "firstName" required>
              <div class="invalid-feedback">
                Hãy nhập họ
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Tên</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" name = "lastName" required>
              <div class="invalid-feedback">
                Hãy nhập tên
              </div>
            </div>

            <div class="col-md-5">
              <label for="birthdate" class="form-label">Ngày sinh</label>
              <input type="date" class="form-control" id="birthdate" placeholder="Ngày sinh" name = "birthdate">
            </div>

            <div class="col-12">
              <label for="phone" class="form-label">Số điện thoại <span class="text-muted">(Tùy chọn)</span></label>
              <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" name = "phone">
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted">(Tùy chọn)</span></label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com" name = "email">
              <div class="invalid-feedback">
                Hãy nhập một email hợp lệ
              </div>
            </div>

            <div class="col-md-4">
              <label for="accountType" class="form-label">Dạng tài khoản</label>
              <select class="form-select" id="accountType" name = "accountType" required>
                <option value = "0">Chủ hộ</option>
                <option value = "1">Người thuê</option>
              </select>
              <div class="invalid-feedback">
                Hãy nhập dạng tài khoản hợp lệ
              </div>
            </div>
          </div>

          <hr class="my-4">
          {{#if message}}
            <div class="alert alert-dark" role="alert">
             {{message}}
            </div>
          {{/if}}
          {{#if ok}}
            <div class="alert alert-success" role="alert">
             {{ok}}
            </div>
          {{/if}}
          <button class="w-100 btn btn-primary btn-lg" type="submit">Đăng ký</button>
        </form>
      </div>
    </div>
    
  </main>
</div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="form-validation.js"></script>
  </body>
</html>
