<div class = "mt-4">
  <div class = "row">

    <div id="pesquisa">
        <div class="container" >
            <div class="row">
                <h2 class="text-center">Tìm kiếm</h2>
                <input class="form-control" id="myInput" type="text">
            </div>
        </div>
    </div>
    <div id="event" ... /* inside this div is the whole code for the calendar */> 
    </div>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#event .card").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>

    <hr class="my-4">
    {{#each roomsData}}
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <img src={{this.image}} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mô tả</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="room/detail/{{this.id}}" method = "post" action = "/room/detail/" class="btn btn-primary" name = "id" value = {{this.id}}>Xem chi tiết</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>